<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bsoft.mapper.BrjzsyMapper">

    <select id="findJzjl" resultType="com.bsoft.entity.Emr_Brjzsy">
        select a.*,b.jgmc  from Emr_Brjzsy a,Emr_Jgzd b where a.jgid = b.jgid and  a.patientIndex = #{patientIndex,jdbcType=INTEGER}
    </select>
    <select id="getUserName" resultType="com.bsoft.entity.Emr_Brjzsy">
        select *  from Emr_Brjzsy  where patientIndex = #{patientIndex,jdbcType=INTEGER}
    </select>

</mapper>